/* style.css */
.task-status {
    display: inline-block;
    padding: 0.3rem 0.6rem;
    border-radius: 0.25rem;
    color: #fff;
}
.todo {
    background-color: #007bff;
}
.in-progress {
    background-color: #ffc107;
}
.done {
    background-color: #28a745;
}
#project-description {
    display: none;
}
